.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.container {
  width: 35vw;
} 

li {cursor: pointer}

.card{
  margin: 10px;
}

.clear-orders {
  grid-area: sidebar;
  justify-self: left;
}

.neeb-form{
  grid-area:main;
  justify-self: center;
}

.eb-clear {
  grid-area: submain;
  justify-self: center;
  width: 25vw;
}

.instructions {
  grid-area: left;
  color: black;
  margin: 10px;
}

.neeb {
  margin-left: 0;
  margin-right:0;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "left main main sidebar"
    "left submain submain sidebar";
}

.e-waste-list {
  display:flex;
  vertical-align: middle;
  justify-content: space-around;
}

.e-waste-list p {
  vertical-align: middle;
  margin: 5px;
}

.e-waste-list .input-group {
  width: 50%;
}

.ro-order-list li {
  padding: .5rem 1rem;
}




