.App {
  text-align: center;
  background-color:#F7F7F7;
}

body {
  background-color:#F7F7F7;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

#wo-textarea {
  width: 200px;
  background-color:#F7F7F7;
  border: none;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.container {
  width: 100%;
} 

li {cursor: pointer}

.card{
  margin: 10px;
  padding: 10px;
}

.clear-orders {
  grid-area: right;
  justify-self: left;
}

.neeb-form{
  grid-area:main;
  justify-self: left;
  margin: 10px;
  padding: 10px;
  
}
.neeb-form form {
  padding: 10px;
}

.neeb-form button {
  margin: 5px;
}
.eb-clear {
  grid-area: submain;
  justify-self: center;
  width: 20vw;
  background-color: #F7F7F7;
  border: none;
  margin: 0;
}

.card-header {
  background-color: #F7F7F7;
  color: #2C3B4A;
}

.instructions {
  justify-self: left;
  grid-area: right;
  color: black;
  margin: 10px;
  width: 20vw;
  padding: 10px;
}

.neeb {
  grid-area: main;
  margin-left: 0;
  margin-right:0;
  display: flex;
  align-content: stretch;
  padding: 10px;
}

.main {
  margin-left: 0;
  margin-right:0;
  display: grid;
  grid-template-columns: 15vw 84vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "nav nav"
    "left main"
    "left submain";
}

.e-waste-list {
  display:flex;
  vertical-align: middle;
  justify-content: space-around;
}

.e-waste-list p {
  vertical-align: middle;
  margin: 5px;
}

.e-waste-list .input-group {
  width: 50%;
}

.ro-order-list li {
  padding: .5rem 1rem;
  text-align: center;
}

.ro-order-list {
  grid-area:right;
  justify-self: left;
  width: 75%;
}

.ro-forms {
  grid-area:main;
  justify-self: center;
  width: 25vw;
}

.last-orders {
  grid-area:right;
  justify-self: left;
  height: 5rem;
}

.ne-header {
  display: flex;
  justify-content: space-between;
}

.ne-header p {
  margin: 0;
}



.navbar {
  grid-area:nav;
  background-color: #2C3B4A;
  color: #FFF;
}

.instructions .btn-warning {
  margin: 5px;
}



@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background-color:#F7F7F7;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    grid-area: left;
    background: #2C3B4A;
    color: #F7F7F7;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2C3B4A;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #BFBDC1;
}

#sidebar ul p {
    color: #F7F7F7;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #424B54;
    background: #E1E1E1;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #F7F7F7;
    background: #424B54;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #424B54;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

.report {
  grid-area: main;
  display: flex;
  justify-content: flex-start;
}

.graphs {
  width: 100vw;
  margin: 20px;
}

.btn-secondary{
  white-space: normal !important;
  word-wrap: break-word !important;
  font-size: .78rem !important;
}

.table {
  font-size: .8rem;
  font-family: 'Verdana', sans-serif;
}